<!DOCTYPE html5>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    <div id="map"></div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj0h-T1onIDApJ9DHhP8-jfs0I26JcvLs&callback=initMap">
	</script>

	<!-- Navbar (Home, Add Locations, Contact, About  |   sidebar button thingy) -->
	<!-- Sidebar: location, filters -->
	<!-- for location: split on spaces, turn request into https to geocoding api, send our server the appropriate lat/long -->
	
	
  </body>
</html>
