/* Optional: Makes the sample page fill the window. */
/*html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}*/

html, body {
    height: 100%;
    width: 100%;
}

.navbar {
  background-color: rgba(64,64,64,.8);
}

.navbar-nav li a{
    color: white;
}

.navbar-nav li a:hover{
    color: #555555;
}

.navbar-header a{
    color: white;
}

.navbar-header a:hover{
    color: #b3b3b3;
}





#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
}
.navbar-side {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #ccc;
  background-color: #f7f7f9;
  overflow-y: scroll;
  z-index: 1000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;



}

.navbar-side-item {
  padding: 1.5rem 0;
  margin: 0;
  /*border-bottom: 2px solid #ccc;*/
  height: 5rem;
}

.side-link {
  padding-left: 2rem;
}

.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}




.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  opacity: 0.6;
  z-index: 990;
}
