/* Optional: Makes the sample page fill the window. */
/*html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}*/

html, body {
    height: 100%;
    width: 100%;
}

.navbar {
  background-color: rgba(0,0,0,.7);
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
}
