/* Optional: Makes the sample page fill the window. */
/*html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}*/

html, body {
    height: 100%;
    width: 100%;
}

.searchForm {
    position: absolute;
      width: 300px;
      height: 200px;
      z-index: 15;
      top: 50%;
      left: 50%;
      margin: -100px 0 0 -150px;
}

.navbar {
  background-color: rgba(0,0,0,.7);
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
}
